In [1]:
import pandas as pd

In [2]:
data1 = {'Name': ["John", "Anna", "Peter", "Linda"],
       'Location': ["New York", "Paris", "Berlin", "London"],
       'Age': [24, 13, 53, 33]}
data1_df = pd.DataFrame(data1)
print(data1_df)

    Name  Location  Age
0   John  New York   24
1   Anna     Paris   13
2  Peter    Berlin   53
3  Linda    London   33

In [3]:
print(data1_df[data1_df.Location == "London"])

    Name Location  Age
3  Linda   London   33

In [5]:
#load new data that get in kaggle
new_data = pd.read_csv("C:/Users/Gary/Desktop/jptnotebook/weatherAUS.csv")
print(new_data)

             Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
0       2008/12/1   Albury     13.4     22.9       0.6          NaN       NaN
1       2008/12/2   Albury      7.4     25.1       0.0          NaN       NaN
2       2008/12/3   Albury     12.9     25.7       0.0          NaN       NaN
3       2008/12/4   Albury      9.2     28.0       0.0          NaN       NaN
4       2008/12/5   Albury     17.5     32.3       1.0          NaN       NaN
...           ...      ...      ...      ...       ...          ...       ...
145455  2017/6/21    Uluru      2.8     23.4       0.0          NaN       NaN
145456  2017/6/22    Uluru      3.6     25.3       0.0          NaN       NaN
145457  2017/6/23    Uluru      5.4     26.9       0.0          NaN       NaN
145458  2017/6/24    Uluru      7.8     27.0       0.0          NaN       NaN
145459  2017/6/25    Uluru     14.9      NaN       0.0          NaN       NaN

       WindGustDir  WindGustSpeed WindDir9am  ... Humidity9am  Humidity3pm  \
0                W           44.0          W  ...        71.0         22.0
1              WNW           44.0        NNW  ...        44.0         25.0
2              WSW           46.0          W  ...        38.0         30.0
3               NE           24.0         SE  ...        45.0         16.0
4                W           41.0        ENE  ...        82.0         33.0
...            ...            ...        ...  ...         ...          ...
145455           E           31.0         SE  ...        51.0         24.0
145456         NNW           22.0         SE  ...        56.0         21.0
145457           N           37.0         SE  ...        53.0         24.0
145458          SE           28.0        SSE  ...        51.0         24.0
145459         NaN            NaN        ESE  ...        62.0         36.0

        Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  \
0            1007.7       1007.1       8.0       NaN     16.9     21.8
1            1010.6       1007.8       NaN       NaN     17.2     24.3
2            1007.6       1008.7       NaN       2.0     21.0     23.2
3            1017.6       1012.8       NaN       NaN     18.1     26.5
4            1010.8       1006.0       7.0       8.0     17.8     29.7
...             ...          ...       ...       ...      ...      ...
145455       1024.6       1020.3       NaN       NaN     10.1     22.4
145456       1023.5       1019.1       NaN       NaN     10.9     24.5
145457       1021.0       1016.8       NaN       NaN     12.5     26.1
145458       1019.4       1016.5       3.0       2.0     15.1     26.0
145459       1020.2       1017.9       8.0       8.0     15.0     20.9

        RainToday  RainTomorrow
0              No            No
1              No            No
2              No            No
3              No            No
4              No            No
...           ...           ...
145455         No            No
145456         No            No
145457         No            No
145458         No            No
145459         No           NaN

[145460 rows x 23 columns]

In [16]:
print(new_data.keys())
print("######################")
print(set(list(new_data["Location"])))
print("######################")
print(set(list(new_data["RainTomorrow"])))
print("######################")
print(new_data.shape)

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')
######################
{'Hobart', 'SydneyAirport', 'Sale', 'NorfolkIsland', 'Witchcliffe', 'Mildura', 'Bendigo', 'Woomera', 'Newcastle', 'Perth', 'Launceston', 'AliceSprings', 'NorahHead', 'Townsville', 'Melbourne', 'Cairns', 'Dartmoor', 'Adelaide', 'Wollongong', 'Williamtown', 'Tuggeranong', 'Nhil', 'PearceRAAF', 'Albany', 'Walpole', 'Darwin', 'Cobar', 'GoldCoast', 'BadgerysCreek', 'Richmond', 'Moree', 'MountGambier', 'Canberra', 'Nuriootpa', 'WaggaWagga', 'MountGinini', 'Brisbane', 'Albury', 'Katherine', 'Sydney', 'Penrith', 'MelbourneAirport', 'Portland', 'Uluru', 'Watsonia', 'SalmonGums', 'PerthAirport', 'Ballarat', 'CoffsHarbour'}
######################
{nan, 'Yes', 'No'}
######################
(145460, 23)