In [2]:
from sklearn.model_selection import train_test_split
import pandas as pd

In [5]:
data = pd.read_csv("C:/Users/ASIA-I627/Desktop/archive/weatherAUS.csv")
print(data)

              Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  \
0       2008-12-01   Albury     13.4     22.9       0.6          NaN
1       2008-12-02   Albury      7.4     25.1       0.0          NaN
2       2008-12-03   Albury     12.9     25.7       0.0          NaN
3       2008-12-04   Albury      9.2     28.0       0.0          NaN
4       2008-12-05   Albury     17.5     32.3       1.0          NaN
...            ...      ...      ...      ...       ...          ...
145455  2017-06-21    Uluru      2.8     23.4       0.0          NaN
145456  2017-06-22    Uluru      3.6     25.3       0.0          NaN
145457  2017-06-23    Uluru      5.4     26.9       0.0          NaN
145458  2017-06-24    Uluru      7.8     27.0       0.0          NaN
145459  2017-06-25    Uluru     14.9      NaN       0.0          NaN

        Sunshine WindGustDir  WindGustSpeed WindDir9am  ... Humidity9am  \
0            NaN           W           44.0          W  ...        71.0
1            NaN         WNW           44.0        NNW  ...        44.0
2            NaN         WSW           46.0          W  ...        38.0
3            NaN          NE           24.0         SE  ...        45.0
4            NaN           W           41.0        ENE  ...        82.0
...          ...         ...            ...        ...  ...         ...
145455       NaN           E           31.0         SE  ...        51.0
145456       NaN         NNW           22.0         SE  ...        56.0
145457       NaN           N           37.0         SE  ...        53.0
145458       NaN          SE           28.0        SSE  ...        51.0
145459       NaN         NaN            NaN        ESE  ...        62.0

        Humidity3pm  Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  \
0              22.0       1007.7       1007.1       8.0       NaN     16.9
1              25.0       1010.6       1007.8       NaN       NaN     17.2
2              30.0       1007.6       1008.7       NaN       2.0     21.0
3              16.0       1017.6       1012.8       NaN       NaN     18.1
4              33.0       1010.8       1006.0       7.0       8.0     17.8
...             ...          ...          ...       ...       ...      ...
145455         24.0       1024.6       1020.3       NaN       NaN     10.1
145456         21.0       1023.5       1019.1       NaN       NaN     10.9
145457         24.0       1021.0       1016.8       NaN       NaN     12.5
145458         24.0       1019.4       1016.5       3.0       2.0     15.1
145459         36.0       1020.2       1017.9       8.0       8.0     15.0

        Temp3pm  RainToday  RainTomorrow
0          21.8         No            No
1          24.3         No            No
2          23.2         No            No
3          26.5         No            No
4          29.7         No            No
...         ...        ...           ...
145455     22.4         No            No
145456     24.5         No            No
145457     26.1         No            No
145458     26.0         No            No
145459     20.9         No           NaN

[145460 rows x 23 columns]

In [17]:
title = data.keys()
new_title = title.drop('RainTomorrow')
new_title = new_title.drop('Date')
X = data[new_title]
Y = data['RainTomorrow']
print(X, X.shape)
print(Y, Y.shape)

       Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
0        Albury     13.4     22.9       0.6          NaN       NaN
1        Albury      7.4     25.1       0.0          NaN       NaN
2        Albury     12.9     25.7       0.0          NaN       NaN
3        Albury      9.2     28.0       0.0          NaN       NaN
4        Albury     17.5     32.3       1.0          NaN       NaN
...         ...      ...      ...       ...          ...       ...
145455    Uluru      2.8     23.4       0.0          NaN       NaN
145456    Uluru      3.6     25.3       0.0          NaN       NaN
145457    Uluru      5.4     26.9       0.0          NaN       NaN
145458    Uluru      7.8     27.0       0.0          NaN       NaN
145459    Uluru     14.9      NaN       0.0          NaN       NaN

       WindGustDir  WindGustSpeed WindDir9am WindDir3pm  ...  WindSpeed3pm  \
0                W           44.0          W        WNW  ...          24.0
1              WNW           44.0        NNW        WSW  ...          22.0
2              WSW           46.0          W        WSW  ...          26.0
3               NE           24.0         SE          E  ...           9.0
4                W           41.0        ENE         NW  ...          20.0
...            ...            ...        ...        ...  ...           ...
145455           E           31.0         SE        ENE  ...          11.0
145456         NNW           22.0         SE          N  ...           9.0
145457           N           37.0         SE        WNW  ...           9.0
145458          SE           28.0        SSE          N  ...           7.0
145459         NaN            NaN        ESE        ESE  ...          17.0

        Humidity9am  Humidity3pm  Pressure9am  Pressure3pm  Cloud9am  \
0              71.0         22.0       1007.7       1007.1       8.0
1              44.0         25.0       1010.6       1007.8       NaN
2              38.0         30.0       1007.6       1008.7       NaN
3              45.0         16.0       1017.6       1012.8       NaN
4              82.0         33.0       1010.8       1006.0       7.0
...             ...          ...          ...          ...       ...
145455         51.0         24.0       1024.6       1020.3       NaN
145456         56.0         21.0       1023.5       1019.1       NaN
145457         53.0         24.0       1021.0       1016.8       NaN
145458         51.0         24.0       1019.4       1016.5       3.0
145459         62.0         36.0       1020.2       1017.9       8.0

        Cloud3pm  Temp9am  Temp3pm  RainToday
0            NaN     16.9     21.8         No
1            NaN     17.2     24.3         No
2            2.0     21.0     23.2         No
3            NaN     18.1     26.5         No
4            8.0     17.8     29.7         No
...          ...      ...      ...        ...
145455       NaN     10.1     22.4         No
145456       NaN     10.9     24.5         No
145457       NaN     12.5     26.1         No
145458       2.0     15.1     26.0         No
145459       8.0     15.0     20.9         No

[145460 rows x 21 columns] (145460, 21)
0          No
1          No
2          No
3          No
4          No
         ...
145455     No
145456     No
145457     No
145458     No
145459    NaN
Name: RainTomorrow, Length: 145460, dtype: object (145460,)

In [18]:
x_train, y_train, x_test, y_test = train_test_split(X, Y, random_state=0)